<script async defer src="https://apis.google.com/js/api.js" id="gapiScript"></script>

{{#d-modal-body
        title="video_upload"
        class="video-upload-modal"
        }}
    <div class="video-details">
        {{input type="file" id="video-file" accept="video/*" }}
        {{#if youtubeEnabled}}
            <label for=video-scope">Privacy level</label>
            {{#if vimeoEnabled}}<small>Only applies for YouTube uploads. Uploads to Vimeo will be visible to <b>{{vimeoUploadScope}}</b> by default.</small>{{/if}}
            <select id="video-scope">
                <option value="unlisted">Unlisted</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        {{/if}}
        <label for=video-title">Title</label> {{input type="text" id="video-title" placeholder="Video Title" }}
        <label for=video-scope">Description</label> {{input type="text" id="video-description" placeholder="Video Description" }}
    </div>

    <div class="video-upload-status">
        {{#if isAuthing}}
            Authenticating...
        {{/if}}
        {{#if isUploading}}
            Uploading {{uploadProgress}}%
        {{/if}}
        {{#if isProcessing}}
            Transcoding video <div class="spinner"></div>
        {{/if}}
        {{#if processingError}}
            <span style="color: red">Error transcoding video.</span>
        {{/if}}
        {{#if uploadError}}
            <span style="color: red">Error uploading video: {{{uploadError}}}</span>
        {{/if}}
    </div>

    <div class="modal-footer">
        {{#if vimeoEnabled}}
            {{d-button action=(action "vimeoUpload") id="vimeo-upload-btn" class="btn-primary" icon="fab-vimeo-v" label="upload-vimeo"}}
        {{/if}}
        {{#if youtubeEnabled}}
            {{d-button action=(action "youtubeUpload") id="youtube-upload-btn" class="btn-primary" icon="fab-youtube" label="upload-youtube"}}
        {{/if}}
    </div>
{{/d-modal-body}}